/**
change the margin and padding of the container
element to match the default styles for  all elements
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
set the fonts for all body
 */
body {
    font-family: sans-serif;
}


/*
set the background color text-color,
and padding for all navbar elements
 */
.navbar {
    background-color: #f06f3a;
    color: white;
    padding: 25px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa fa-shopping-cart {
    background-color: #f06f3a;
    color: #212121;
    padding: 5px;
    border-radius:4px;
    position: relative;
}

.cartAmount {
    position: absolute;
    top: 15px;
    right: -10px;
    font-size:16px !important;
    color: white;
    background-color: red;
    padding: 3px;
    border-radius:3px !important;

}
