<include href="views/header.html"></include>
<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" type="text/css" href="styles/styles.css">



<body>
<section class="contact">
    <div class="content">
        <h2>Contact Us</h2>
        <p> Community kitchens are also known as commercial community kitchens. A commercial community kitchen
            is a shared space or building equipped with kitchen equipment and implements used for the processing
            of raw products or the creation of raw product into value-added commercial food products for sale.</p>
    </div>
    <div class="container">
        <div class="contactInfo">
            <div class="box">
                <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Address</h3>
                    <p>4008 MLK JR Way, <br>Seattle, WA,<br>98036</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Phone</h3>
                    <p>253-444-6565</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa fa-envelope"></i></div>
                <div class="text">
                    <h3>Email</h3>
                    <p>communitykitchen@mail.net</p>
                </div>
            </div>
        </div>
        <div class="contactForm">
            <form>
                <h2>Send Message</h2>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Full Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <textarea required="required"></textarea>
                    <span>Type your message.....</span>
                </div>
                <div class="inputBox">
                    <input type="submit" name="" value="Send">
                </div>
            </form>
        </div>
    </div>
</section>
<include href="views/footer.html"></include>