<!--
Name: Chisom Ehirim , Patrick Luong, Fauzia Ameeri
File header.html -views
Date 5/11/2022
Title Community Kitchen Project
-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styleHome.css" type="text/css">
    <title>Community Kitchen</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
<!---navigation bar-->
<nav class="navbar navbar-expand-md navbar-light navbar-custom fixed-top shadow-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ @BASE }}"><img src="images/kitchen.png" alt="picture of kitchen logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ @BASE }}">
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="menu">
                                Menu
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="form">
                                Admin
                            </a>
                        </li>




                        <li class="nav-item">
                            <a class="nav-link active" href="contact">
                                Visit Us
                            </a>
                        </li>
                        <li  class="nav-item pt-2 pr-2">Cart</li>
                        <div class="cart bg-light">

                            <i class="fa fa-shopping-cart"></i>
                            <div class="cartAmount">0</div>
                        </div>
                    </ul>
                </div>
            </div><!--container-fluid div ends-->
        </nav>

