<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/logo.png" type="favicon/ico"/>
    <title>Community Kitchen</title>

    <link rel="stylesheet" href="styles/bootstrap.min.css">
     <link rel="stylesheet" href="styles/main.css">

</head>
<body data-spy="scroll" data-target="#template-navbar">

<!--== 4. Navigation ==-->
<nav id="template-navbar" class="navbar navbar-default custom-navbar-default navbar-fixed-top">
    <div class="container">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#Food-fair-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="Food-fair-toggle">
        <ul class="nav navbar-nav navbar-center">
            <li><a href="#featured-dish">featured</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<!--== 8. Great Place to enjoy ==-->
<section id="our-men-to-enjoy" class="great-place-to-enjoy">
    <img class="img-responsive section-icon hidden-sm hidden-xs">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row dis-table">
                <div class="col-xs-6 col-sm-6 dis-table-cell color-bg">
                    <h2 class="section-title">Great Place to enjoy</h2>
                </div>
                <div class="col-xs-6 col-sm-6 dis-table-cell section-bg">

                </div>
            </div> <!-- /.dis-table -->
        </div> <!-- /.row -->
    </div> <!-- /.wrapper -->
</section> <!-- /#great-place-to-enjoy -->
<!--== 13. Menu List ==-->
<section id="menu-list" class="menu-list">
    <div class="container">
        <div class="row menu">
            <div class="col-md-10 col-md-offset-1 col-sm-9 col-sm-offset-2 col-xs-12">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="menu-catagory">
                                <h2>Afghani Food</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="menu-item">
                                <h3 class="menu-title">Lamb Kabab</h3>
                                <p class="menu-about">Marinated with garlic, black pepper</p>
                                <div class="menu-system">
                                    <div class="half">
                                        <p class="price">$49.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="menu-item">
                                <h3 class="menu-title">Manto (Dumpling)</h3>
                                <p class="menu-about">Beef with onion</p>
                                <div class="menu-system">
                                    <div class="half">
                                        <p class="price">$25.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="menu-item">
                                <h3 class="menu-title">Qabili Palow</h3>
                                <p class="menu-about">Rice, Risen with Carrot</p>
                                <div class="menu-system">
                                    <div class="half">
                                        <p class="price">$30.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="menu-catagory">
                                <h2>Nigerian Food</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="menu-item">
                                <h3 class="menu-title">Tuwo Shinkafa</h3>
                                <p class="menu-about">Mashed rice served with soup</p>
                                <div class="menu-system">
                                    <div class="half">
                                        <p class="price">$20.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="menu-item">
                                <h3 class="menu-title">Moin Moin</h3>
                                <p class="menu-about">Steamed bean cakes</p>
                                <div class="menu-system">
                                    <div class="half">
                                        <p class="price">$30.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="menu-item">
                                <h3 class="menu-title">Jollof Rice</h3>
                                <p class="menu-about">Made of rice, tomato paste</p>
                                <div class="menu-system">
                                    <div class="half">
                                        <p class="price">$40.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="menu-catagory">
                                <h2>Chinese Food</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="menu-item">
                                <h3 class="menu-title">Noodle Soup</h3>
                                <p class="menu-about">Toppings with different meat</p>
                                <div class="menu-system">
                                    <div class="half">
                                        <p class="price">$15.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="menu-item">
                                <h3 class="menu-title">Sushi</h3>
                                <p class="menu-about">Rice topped with ingredients</p>
                                <div class="menu-system">
                                    <div class="half">
                                        <p class="price">$50.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="menu-item">
                                <h3 class="menu-title">Sesame Balls</h3>
                                <p class="menu-about">Made with red beans and rice</p>
                                <div class="menu-system">
                                    <div class="half">
                                        <p class="price">$20.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="menu-catagory">
                                <h2>Iraqi Food</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="menu-item">
                                <h3 class="menu-title">Dolma</h3>
                                <p class="menu-about">Stuffed with vegetables</p>
                                <div class="menu-system">
                                    <div class="half">
                                        <p class="price">$20.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="menu-item">
                                <h3 class="menu-title">Falafel</h3>
                                <p class="menu-about">Made with vegetables</p>
                                <div class="menu-system">
                                    <div class="half">
                                        <p class="price">$10.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="menu-item">
                                <h3 class="menu-title">Kebab</h3>
                                <p class="menu-about">Different marinated meat</p>

                                <div class="menu-system">

                                    <div class="half">
                                        <p class="price">$40.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-md-2 hidden-sm hidden-xs"></div>
<div class="opening-time">
    <h3 class="opening-time-title">Hours</h3>
    <p>Mon to Fri: 11:30 AM - 2:30 PM</p>

</div>

<div class="col-md-2 hidden-sm hidden-xs"></div>
<div class="opening-time">
    <h3 class="opening-time-title">Contact</h3>
    <p>16th street Seattle, WA 98035 USA</p>
    <p>+44 12 213584</p>
    <p>example@mail.com </p>

<section id="contact" class="contact">
    <div class="container-fluid color-bg">
       
    </div>
    <div class="social-media">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="center-block">
                    <li><a href="#" class="fb"></a></li>
                    <li><a href="#" class="link"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>