<include href="views/header.html" xmlns="http://www.w3.org/1999/html"></include>
<hr class="hr">
<hr class="my-4">
<div class="potluck">
    <img src="images/potluck.png" class="img-fluid" alt="potluck image" id="potluck">
</div>
<hr class="my-4">
<div class="container">
<!--    <h1 class="text-center pt-4 mb-4">MENU</h1>
    <div class="row text-center py-5">
        <div class="col-md-3 col-sm-6 my-3 md-0">
            <form action="index.php" method="post"  class="form-horizontal">
                <div class="card shadow">
                    <div>
                        <img src="../images/asian2.png" alt="asian rice" class="img-fluid card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Product1</h5>
                        <h6>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </h6>
                        <p class="card-text">Lorem Ipsum dolor sit amet, consectetur adipis</p>
                        <h5>
                            <small><s class="text-secondary">$23.99</s></small>
                            <span class="price">$21.99</span>
                        </h5>
                        <button type="submit" class="btn btn-warning my-3" name="add">Add to Cart<i class="fas fa-shopping-cart"></i></button>
                    </div>
                    </div>
            </form>
            </div>
        <div class="col-md-3 col-sm-6 my-3 md-0">
            <form action="index.php" method="post" class="form-horizontal">
                <div class="card shadow">
                    <div>
                        <img src="images/asian2.png" alt="asian rice" class="img-fluid card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Product1</h5>
                        <h6>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </h6>
                        <p class="card-text">Lorem Ipsum dolor sit amet, consectetur adipis</p>
                        <h5>
                            <small><s class="text-secondary">$23.99</s></small>
                            <span class="price">$21.99</span>
                        </h5>
                        <button type="submit" class="btn btn-warning my-3" name="add">Add to Cart<i class="fas fa-shopping-cart"></i></button>
                    </div>

                </div>
            </form>
        </div>

        <div class="col-md-3 col-sm-6 my-3 md-0">
            <form action="index.php" method="post"  class="form-horizontal">
                <div class="card shadow">
                    <div>
                        <img src="../images/asian2.png" alt="asian rice" class="img-fluid card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Product1</h5>
                        <h6>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </h6>
                        <p class="card-text">Lorem Ipsum dolor sit amet, consectetur adipis</p>
                        <h5>
                            <small><s class="text-secondary">$23.99</s></small>
                            <span class="price">$21.99</span>
                        </h5>
                        <button type="submit" class="btn btn-warning my-3" name="add">Add to Cart<i class="fas fa-shopping-cart"></i></button>
                    </div>

                </div>
            </form>
        </div>

        <div class="col-md-3 col-sm-6 my-3 md-0">
            <form action="index.php" method="post" id="myForm" class="form-horizontal">
                <div class="card shadow">
                    <div>
                        <img src="../images/asian2.png" alt="asian rice" class="img-fluid card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Product1</h5>
                        <h6>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </h6>
                        <p class="card-text">Lorem Ipsum dolor sit amet, consectetur adipis</p>
                        <h5>
                            <small><s class="text-secondary">$23.99</s></small>
                            <span class="price">$21.99</span>
                        </h5>
                        <button type="submit" class="btn btn-warning my-3" name="add">Add to Cart<i class="fas fa-shopping-cart"></i></button>
                    </div>

                </div>
            </form>
        </div>
    </div>-->
    <div class="container menuStyle">
        <h1 class="text-center pt-4">MENU</h1>
        <div class="row text-center">
            <repeat group=" {{ @afganiMenu }} "
                    key=" {{ @country }}"
                    value=" {{ @info }}">
                <div class="col-md-3 col-sm-6 my-3 md-0">
                <form action="#" method="post" class="form-horizontal">
                        <Label class="text-center display-4 pt-3 mb-5">{{ @country }}</Label>
                        <repeat group=" {{ @info }}"
                                key=" {{ @food }}"
                                value="{{ @disc }}">
                                <div class="card shadow">
                                    <div>
                                        <img src="{{@disc[2]}}"  class="img-fluid card-img-top">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ @food }}</h5>
                                        <p class="card-text">{{ @disc[0] }}</p>
                                        <h5>
                                            <small><s class="text-secondary">$23.99</s></small>
                                            <span class="price">${{ @disc[1] }}</span>
                                        </h5>
                                        <button type="submit" class="btn btn-warning my-3" name="add">Add to Cart<i class="fas fa-shopping-cart"></i></button>
                                    </div>
                                </div><br>
                        </repeat>
                    </form>
                </div>
            </repeat>
            <repeat group=" {{ @chineseMenu }} "
                    key=" {{ @country }}"
                    value=" {{ @info }}">
                <div class="col-md-3 col-sm-6 my-3 md-0">
                    <form action="index.php" method="post" class="form-horizontal">

                        <Label class="text-center display-4 pt-3 mb-5">{{ @country }}</Label>
                        <!--
                                                <div class="card-group pb-2">
                                                        <h5 class="card-title">{{ @food }}</h5>
                                                        <img src="{{ @disc[2] }}" class="card-img-top">
                                                        <div class="card-body">
                                                            <p class="text-center">{{ @disc[0] }}</p>
                                                            <p class="float-right">${{ @disc[1] }}</p>
                                                            <a href="#"><button class="btn btn-success btn-sm">Add to Cart</button></a>
                                                        </div>
                                                    </div>-->
                        <repeat group=" {{ @info }}"
                                key=" {{ @food }}"
                                value="{{ @disc }}">
                            <div class="card shadow">
                                <div>
                                    <img src="{{@disc[2]}}"  class="img-fluid card-img-top">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ @food }}</h5>
                                    <p class="card-text">{{ @disc[0] }}</p>
                                    <h5>
                                        <span class="price">${{ @disc[1] }}</span>
                                    </h5>
                                    <button type="submit" class="btn btn-warning my-3" name="add">Add to Cart<i class="fas fa-shopping-cart"></i></button>
                                </div>
                            </div><br>
                        </repeat>
                    </form>
                </div>
            </repeat>
            <repeat group=" {{ @iraqiMenu }} "
                    key=" {{ @country }}"
                    value=" {{ @info }}">
                <div class="col-md-3 col-sm-6 my-3 md-0">
                    <form action="index.php" method="post" id="myForm" class="form-horizontal">

                        <Label class="text-center display-4 pt-3 mb-5">{{ @country }}</Label>
                        <repeat group=" {{ @info }}"
                                key=" {{ @food }}"
                                value="{{ @disc }}">
                            <div class="card shadow">
                                <div>
                                    <img src="{{@disc[2]}}"  class="img-fluid card-img-top">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ @food }}</h5>

                                    <p class="card-text">{{ @disc[0] }}</p>
                                    <h5>
                                        <span class="price">${{ @disc[1] }}</span>
                                    </h5>
                                    <button type="submit" class="btn btn-warning my-3" name="add">Add to Cart<i class="fas fa-shopping-cart"></i></button>
                                </div>
                            </div><br>
                        </repeat>
                    </form>
                </div>
            </repeat>
            <repeat group=" {{ @nigerianMenu }} "
                    key=" {{ @country }}"
                    value=" {{ @info }}">
                <div class="col-md-3 col-sm-6 my-3 md-0">
                    <form action="index.php" method="post"  class="form-horizontal">

                        <Label class="text-center display-4 pt-3 mb-5">{{ @country }}</Label>
                        <repeat group=" {{ @info }}"
                                key=" {{ @food }}"
                                value="{{ @disc }}">
                            <div class="card shadow">
                                <div>
                                    <img src="{{@disc[2]}}"  class="img-fluid card-img-top">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ @food }}</h5>
                                    <p class="card-text">{{ @disc[0] }}</p>
                                    <h5>
                                        <span class="price">${{ @disc[1] }}</span>
                                    </h5>
                                    <button type="submit" class="btn btn-warning my-3" name="add">Add to Cart<i class="fas fa-shopping-cart"></i></button>
                                </div>
                            </div><br>
                        </repeat>
                    </form>
                </div>
            </repeat>

        </div>
    </div>
<div class="container mt-5">
 <div class="row jumbotron">

 </div>
</div>
</div>
<include href="views/footer.html"></include>
