<include href="views/headerHome.html"></include>

<body>
<!---navigation bar-->
<nav class="navbar navbar-expand-md navbar-light navbar-custom sticky-top shadow-lg" id="template-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="home.html"><img src="images/kitchen.png" alt="picture of kitchen logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Menu
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Order Takeout or Delivery
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Catering
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Visit Us
                    </a>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="Food-fair-toggle">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="images/featured-dish">featured</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div><!--container-fluid div ends-->
</nav>
    <form action="order" method="POST">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-9 col-sm-offset-2 col-xs-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="menu-catagory">
                                        <h2>Afghani Food</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="menu-item">
                                        <h3 class="menu-title">Lamb Kabab</h3>
                                        <p class="menu-about">Marinated with garlic, black pepper</p>
                                        <div class="menu-system">
                                            <div class="half">
                                                <p class="price">$49.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="menu-item">
                                        <h3 class="menu-title">Manto (Dumpling)</h3>
                                        <p class="menu-about">Beef with onion</p>
                                        <div class="menu-system">
                                            <div class="half">
                                                <p class="price">$25.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="menu-item">
                                        <h3 class="menu-title">Qabili Palow</h3>
                                        <p class="menu-about">Rice, Risen with Carrot</p>
                                        <div class="menu-system">
                                            <div class="half">
                                                <p class="price">$30.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="menu-catagory">
                                        <h2>Nigerian Food</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="menu-item">
                                        <h3 class="menu-title">Tuwo Shinkafa</h3>
                                        <p class="menu-about">Mashed rice served with soup</p>
                                        <div class="menu-system">
                                            <div class="half">
                                                <p class="price">$20.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="menu-item">
                                        <h3 class="menu-title">Moin Moin</h3>
                                        <p class="menu-about">Steamed bean cakes</p>
                                        <div class="menu-system">
                                            <div class="half">
                                                <p class="price">$30.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="menu-item">
                                        <h3 class="menu-title">Jollof Rice</h3>
                                        <p class="menu-about">Made of rice, tomato paste</p>
                                        <div class="menu-system">
                                            <div class="half">
                                                <p class="price">$40.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="menu-catagory">
                                        <h2>Chinese Food</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="menu-item">
                                        <h3 class="menu-title">Noodle Soup</h3>
                                        <p class="menu-about">Toppings with different meat</p>
                                        <div class="menu-system">
                                            <div class="half">
                                                <p class="price">$15.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="menu-item">
                                        <h3 class="menu-title">Sushi</h3>
                                        <p class="menu-about">Rice topped with ingredients</p>
                                        <div class="menu-system">
                                            <div class="half">
                                                <p class="price">$50.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="menu-item">
                                        <h3 class="menu-title">Sesame Balls</h3>
                                        <p class="menu-about">Made with red beans and rice</p>
                                        <div class="menu-system">
                                            <div class="half">
                                                <p class="price">$20.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="menu-catagory">
                                        <h2>Iraqi Food</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="menu-item">
                                        <h3 class="menu-title">Dolma</h3>
                                        <p class="menu-about">Stuffed with vegetables</p>
                                        <div class="menu-system">
                                            <div class="half">
                                                <p class="price">$20.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="menu-item">
                                        <h3 class="menu-title">Falafel</h3>
                                        <p class="menu-about">Made with vegetables</p>
                                        <div class="menu-system">
                                            <div class="half">
                                                <p class="price">$10.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="menu-item">
                                        <h3 class="menu-title">Kebab</h3>
                                        <p class="menu-about">Different marinated meat</p>

                                        <div class="menu-system">

                                            <div class="half">
                                                <p class="price">$40.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>
<include href="views/footer.html"></include>
