/**
Name: Chisom Ehirim , Patrick Luong, Fauzia Ameeri
File styleHome.css -styles
Date 5/11/2022
Title Community Kitchen Project
 */

/**
html and body style
*/
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Awesome', sans-serif;
    color: #f2f2f2;
}


/**
navbar style
*/
.navbar {
    padding: 0.8rem;
}

.hr{
    padding-top: 7rem;
}

.navbar-brand img {
    height: 6rem;

}

.navbar-custom {
    background-color: orange;
}

.navbar-nav li {
    padding-right: 1rem;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-link:hover {
    color: #f2f2f2;
    font-weight: 600;
}

.nav-item {
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
}

/**
carousel and menu image style
*/
.carousel-inner img, #potluck {
    width: 100%;
    height: 450px;
}

.carousel-caption {
    position: absolute;
    transform: translateY(-50%);
    top: 35%;
}


/*
button styles
*/
.btn-custom, a.btn-custom:hover {
    background-color: #f06f3a;
    width: 100px;
    margin-bottom: 2em;
}


/*
text display styles
*/
.display-4 {
    font-size: x-large;
}

.display-5 {
    font-size: xx-large;
    color: #f06f3a;
    font-family: cursive;
}


/*
Menu styles
*/
.menuStyle label {
    font-weight: bolder;
    color: #f06f3a;;
}


.menuStyle p {
    font-weight: bold;
    color: black;
}

.menuStyle h1 {
    font-weight: bolder;
    color: orange;
}



.menuStyle h5 {
    color: orange;
    text-align: center;
}

.menuStyle img {
    width: 253px;
    max-height: 179px;
}



.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}


.potluck img {

    width: 100%;
    height: 25%;
}





